.analystcoverage-partial-805458 {
    padding: 55px 0 90px 0;
    @media screen and ($mobile) {
        padding: 35px 0 40px 0;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        width: calc(100% + 30px);
        .item {
            width: calc(100% / 3);
            box-sizing: border-box;
            padding: 0 15px;
            margin-bottom: 50px;
            @media screen and ($t-landscape) {
                width: calc(100% / 2);
            }
            @media screen and ($mobile) {
                width: 100%;
                margin-bottom: 40px;
            }
            h3 {
                max-width: 297px;
                margin-top: 0;
                margin-bottom: 24px;
                @media screen and ($mobile) {
                    margin-bottom: 14px;
                }
            }
            .phone a {
                text-decoration: none;
            }
        }
    }
    a {
        @media screen and ($only-desk) {
            transition: .5s;
            &:hover {
                color: #7E7E87;
            }
        }
    }
}