.breadcrumb-partial-ad683a {
    padding: 70px 0 0 0;
    @media screen and ($mobile) {
        padding: 10px 0 0 0;
    }
    a, span {
        font-size: var(--soma-font-size-small, 16px);
        letter-spacing: 0;
        @media (#{$mobile}) {
            font-size: var(--soma-font-size-tiny, 14px);
        }
    }
    a {
        color: var(--soma-color-text-secondary, #7E7E87);
        text-decoration: none;
        transition: var(--soma-transition, .5s);
        &:hover {
            color: $c1;
        }
    }
    i {
        color: var(--soma-color-text-secondary, #7E7E87);
    }
    i:nth-child(1n+4){
        @media screen and ($mobile) {
            display: none;
        }
    }
    span:nth-child(1n+4){
        @media screen and ($mobile) {
            display: none;
        }
    }
    a:nth-child(1n+4){
        @media screen and ($mobile) {
            display: none;
        }
    }
}