.featuredtext-partial-c8599e {
    background-color: #171717;
    padding: 85px 0px 65px 0px;
    @media (#{$mobile}) {
        padding: 52px 0px 48px 0px;
    }
    h3{
        color: #FFFFFF;
        max-width: 953px;
        
    }
}