.fibrasomaheader-partial-d71c92 {
    .container {
        h3 {
            width: 75%;
            @media (#{$t-portrait}) {
                width: 100%;
            }
        }
        a {
            display: table;
            @media screen and ($only-desk) {
                transition: .5s;
                &:hover {
                    color: #7E7E87;
                }
            }
            @media screen and ($mobile) {
                margin-top: 40px;
            }
        }
        .image {
            width: 65%;
            margin-top: 70px;
            @media (#{$t-portrait}) {
                width: 100%;
                margin-top: 50px;
            }
            img {
                width: 100%;
                height: auto;
                @media (#{$t-portrait}) {
                    width: 100%;
                }
            }
        }
    }
}