.newslist-partial-afa6f9 {
    margin: 70px 0 0 0;
    a {
        text-decoration: none;
    }
    .title-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-bottom: 60px;
        @media screen and ($mobile) {
            padding-bottom: 78px;
        }
        .title {
            font-size: 34px;
            line-height: 44px;
        }
        h3, h2 {
            margin: 0;
        }
        a {
            text-decoration: underline;
            @media screen and ($mobile) {
                span {
                    display: none;
                }
            }
        }
    }
    .evento{
        // pointer-events: none;
        // cursor: default;
        // @media screen and ($t-landscape) {
        //     width: calc(100% * (11 / 12));
        // }
        .image{
            // width: 90%!important;
        }
        .arrow {
            svg{
                display: none;
            }
        }
        .news-date{
            @media (#{$mobile}) {
                bottom: -44px!important;
            }
        }
    }
    .news-item {
        padding: 50px 0 68px 0;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid $c1;
        @media (#{$mobile}) {
            display: block;
            padding: 30px 0 80px 0;
        }
        .image {
            width: calc(100% * (4 / 12));
            box-sizing: border-box;
            padding-right: 15px;
            @media (#{$mobile}) {
                width: 100%;
                padding-right: 0px;
            }
            img {
                width: 100%;
            }
        }
        .text {
            width: calc(100% * (6 / 12));
            box-sizing: border-box;
            padding-left: 15px;
            position: relative;
            padding-bottom: 20px;
            @media screen and ($t-landscape) {
                width: calc(100% * (8 / 12));
            }
            @media (#{$mobile}) {
                width: 100%;
                padding-left: 0px;
                margin-top: 32px;
            }
            h3 {
                margin-top: -9px;
                margin-bottom: 18px;
                max-height: 168px;
                overflow: hidden;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                // text-overflow: ellipsis;
                // max-height: 2.6em;
                @media screen and ($t-landscape) {
                    max-height: 84px;
                    -webkit-line-clamp: 2;
                }
                @media screen and ($t-portrait) {
                    max-height: none;
                    -webkit-line-clamp: initial;
                }
            }
            .type-content{
                font-size: 16px;
                color: #7E7E87;
                text-transform: capitalize;
                line-height: 12px;
                margin-bottom: 30px;
            }
            .news-date {
                font-size: 20px;
                letter-spacing: 0;
                position: absolute;
                bottom: 0;
                left: 15px;
                display: flex;
                @media (#{$t-portrait}) {
                    bottom: -35px;
                    left: 15px;
                }
                @media screen and ($mobile) {
                    left: 0;
                }
                a{
                    font-size: 20px;
                    letter-spacing: 0;
                    @media screen and ($mobile) {
                        font-size: 18px;
                        line-height: 24px;
                    }
                }
                .pdf{
                    padding-left: 35px;
                    position: relative;
                    a{
                        text-decoration: underline;
                        padding-right: 10px;
                    }
                    &:after{
                        content:""; 
                            background: #171717; 
                            position: absolute; 
                            left: 17px;
                            height: 18px;
                            width: 1px;
                            top: 6px;
                    }
                }
            }
            .arrow {
                svg{
                    // width: 36px;
                    // height: 38px;
                    width: 45px;
                    height: auto;
                }
                line {
                    stroke: $c1;
                }
                polygon {
                    fill: $c1;
                    stroke: $c1;
                }
            }
        }
        @media screen and ($only-desk) {
            h3, .news-date, .arrow line, .arrow polygon {
                transition: .5s;
            }
            &:hover {
                .text {
                    h3 {
                        color: #7E7E87;
                    }
                    .news-date {
                        color: #7E7E87;
                    }
                    .arrow {
                        line {
                            stroke: #7E7E87;
                        }
                        polygon {
                            fill: #7E7E87;
                            stroke: #7E7E87;
                        }
                    }
                }
            }
        }
    }
    .loader-container {
        text-align: center;
        &.loaded {
            display: none;
        }
        .loader {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
            div {
                display: inline-block;
                position: absolute;
                left: 8px;
                width: 16px;
                background-color: $c1;
                animation: news-loader 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
                &:nth-child(1) {
                    left: 8px;
                    animation-delay: -0.24s;
                }
                &:nth-child(2) {
                    left: 32px;
                    animation-delay: -0.12s;
                }
                &:nth-child(3) {
                    left: 56px;
                    animation-delay: 0;
                }
            }
        }
    }
    &.news-black {
        padding: 80px 0 0 0;
        background-color: $c1;
        @media screen and ($mobile) {
            padding: 55px 0 0 0;
            margin: 55px 0 0 0;
        }
        .title-container {
            @media screen and ($mobile) {
                padding-bottom: 38px;
            }
            h2, h3, a {
                color: #ffffff;
            }
            a {
                @media screen and ($only-desk) {
                    transition: .5s;
                    &:hover {
                        color: #7E7E87;
                    }
                }
            }
        }
        .news-item {
            border-top: 1px solid #999999;
            .text {
                h3 {
                    color: #ffffff;
                    overflow: unset;
                    // u{
                    //     position: relative;
                    //     text-decoration: none;
                    //     &:before{
                    //         content: '';
                    //         position: absolute;
                    //         left: 0;
                    //         bottom: 6px;
                    //         height: 2px;
                    //         width: 100%;
                    //         border-bottom: 1px solid #ffffff;
                    //         transition: .5s;
                    //     }
                    // }
                }
                .news-date {
                    color: #ffffff;
                }
                .arrow {
                    line {
                        stroke: #ffffff;
                    }
                    polygon {
                        fill: #ffffff;
                        stroke: #ffffff;
                    }
                }
            }
            @media screen and ($only-desk) {
                h3, .news-date, .arrow line, .arrow polygon {
                    transition: .5s;
                }
                &:hover {
                    .text {
                        h3 {
                            color: #7E7E87;
                            // u{
                            //     &:before{
                            //         border-bottom: 1px solid #7E7E87;
                            //     }
                            // }
                        }
                        .news-date {
                            color: #7E7E87;
                        }
                        .arrow {
                            line {
                                stroke: #7E7E87;
                            }
                            polygon {
                                fill: #7E7E87;
                                stroke: #7E7E87;
                            }
                        }
                    }
                }
            }
        }
        .loader-container .loader div {
            background-color: #ffffff;
        }
        .content > a:last-of-type .news-item {
            border-bottom: 3px solid #999999;
        }
    }
    &:first-of-type {
        margin: 24px 0 140px 0;
    }
    a {
        @media screen and ($only-desk) {
            transition: .5s;
            &:hover {
                color: #7E7E87;
            }
        }
    }
}

@keyframes news-loader {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
}
  