.project-title-section {
    padding: 22px 0 15px 0;
    h2 {
        margin-top: 0;
        margin-bottom: 40px;
    }
    p {
        margin: 0;
    }
}

.single-portfolio #ditto-single {
    padding-bottom: 120px;
    @media screen and ($mobile) {
        padding-bottom: 40px;
    }
    &.latest-block-is-dark {
        padding-bottom: 0 !important;
    }
}