.single-team-members-6a9625 {
    padding: 60px 0 140px 0;
    @media screen and ($mobile) {
        padding: 45px 0 80px 0;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        .title,
        .featured-text {
            width: calc(100% * (6 / 12));
            box-sizing: border-box;
            padding-right: 15px;
            @media screen and ($mobile) {
                width: 100%;
                padding-right: 0;
            }
        }
        .featured-image,
        .body {
            width: calc(100% * (6 / 12));
            box-sizing: border-box;
            padding-left: 15px;
            @media screen and ($mobile) {
                width: 100%;
                padding-left: 0;
            }
            @media (min-width: 768px) {
                margin-right: 0px;
                margin-left: auto;
            }
        }
        .title,
        .featured-image {
            margin-bottom: 70px;
            @media screen and ($mobile) {
                margin-bottom: 45px;
            }
        }
        // .left-text{
        //     position: absolute;
        //     // height: 670px;
        //     width: calc(100% * (5 / 12));
        //     top: 545px;
        //     // transition: 0.5s;
        // }
        // .sticky-text{
        //     position: fixed;
        //     top: 40px;
        //     bottom: 40px;
        // }
        // .sticky-text-absoluted{
        //     bottom: 0px;
        //     top: auto;
        // }
        // .desk{
        //     @media (#{$mobile}) {
        //         display: none;
        //     }
        // }
        // .movil{
        //     @media (min-width: 768px) {
        //         display: none;
        //     }
        // }
    }
    .title {
        position: relative;
        min-height: 200px;
        @media screen and ($mobile) {
            min-height: auto;
        }
        h3 {
            margin: 0;
            &.member-name {
                margin-top: -10px;
            }
            &.member-title {
                color: #7E7E87;
            }
        }
        svg {
            position: absolute;
            bottom: 5px;
            left: 0;
            @media (min-width: 768px) {
                // bottom: -280px;
            }
            @media screen and ($mobile) {
                display: none;
            }
            main[data-header-style="fibrasoma"] & {
                display: none !important;
            }
        }
    }
    .featured-image {
        img {
            width: 100%;
            max-width: 410px;
        }
    }
    .featured-text {
        position: relative;
        .mobile-logo {
            display: none;
            @media screen and ($mobile) {
                display: block;
                margin-bottom: 40px;
            }
            main[data-header-style="fibrasoma"] & {
                display: none !important;
            }
        }
        h3 {
            margin: 0;
            max-width: 480px;
            @media screen and ($mobile) {
                margin-bottom: 40px;
            }
        }
    }
    .body {
        p {
            font-size: 18px;
            color: #7E7E87;
            letter-spacing: 0;
            line-height: 25px;
            margin-top: 0;
            margin-bottom: 20px;
        }
        li{
            font-size: 18px;
            color: #7E7E87;
        }
    }
}