.single-news-d3cb75 {
    padding: 60px 0 140px 0;
    @media screen and ($t-portrait) {
        padding: 45px 0 80px 0;
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        .title,
        .featured-text {
            width: calc(100% * (6 / 12));
            box-sizing: border-box;
            padding-right: 15px;
            @media screen and ($t-portrait) {
                width: 100%;
                padding-right: 0; 
            }
        }
        .featured-image,
        .body {
            width: calc(100% * (6 / 12));
            box-sizing: border-box;
            padding-left: 15px;
            @media screen and ($t-portrait) {
                width: 100%;
                padding-left: 0;
                max-width: 600px;
            }
        }
        .title,
        .featured-image {
            margin-bottom: 70px;
            @media screen and ($t-portrait) {
                margin-bottom: 45px;
            }
        }
    }
    .title {
        h3 {
            max-width: 534px;
            margin-top: -9px;
            margin-bottom: 40px;
            u {
                text-decoration: none;
            }
        }
    }
    .featured-image {
        img {
            width: 100%;
            max-width: 518px;
        }
    }
    .featured-text {
        h3 {
            max-width: 475px;
            margin: 0;
            @media screen and ($t-portrait) {
                margin-bottom: 40px;
            }
        }
    }
    .body {
        .text {
            margin-bottom: 50px;
            p, a {
                font-size: var(--soma-font-size-medium, 18px);
                color: var(--soma-color-text-secondary, #7E7E87);
                letter-spacing: 0;
                line-height: 25px;
            }
            p {
                margin-top: 0;
                margin-bottom: 30px;
            }
            a {
                text-decoration: underline;
            }
        }
        .link {
            svg {
                transform: rotate(90deg);
                margin-bottom: -2px;
                margin-left: 5px;
                line {
                    stroke: $c1;
                }
                polygon {
                    fill: $c1;
                    stroke: $c1;
                }
            }
        }
    }
    a {
        @media screen and ($only-desk) {
            transition: var(--soma-transition, .5s);
            &:hover {
                color: var(--soma-color-text-secondary, #7E7E87);
            }
        }
    }
}