# Ignorar todo
/*

# Excepto estos archivos/directorios
!.gitignore
!.github/
!wp-content/

# Dentro de wp-content, ignorar todo
wp-content/*

# Excepto themes
!wp-content/themes/

# Dentro de themes, ignorar todo
wp-content/themes/*

# Excepto soma
!wp-content/themes/soma/
!wp-content/themes/soma/**

# Ignorar archivos generados en soma
wp-content/themes/soma/vendor/
wp-content/themes/soma/node_modules/
wp-content/themes/soma/.phpunit.cache/
wp-content/themes/soma/coverage/
wp-content/themes/soma/composer.lock
wp-content/themes/soma/package-lock.json
