parameters:
    level: 6
    paths:
        - includes
    excludePaths:
        - vendor
        - node_modules
        - tests/Mocks
    bootstrapFiles:
        - %currentWorkingDirectory%/../../plugins/advanced-custom-fields-pro/acf.php
    ignoreErrors:
        # WordPress dynamic properties
        - '#Access to an undefined property WP_[a-zA-Z_]+::\$[a-zA-Z_]+#'
        # ACF dynamic functions
        - '#Function get_field not found#'
        - '#Function the_field not found#'
        - '#Function have_rows not found#'
        - '#Function get_sub_field not found#'
    treatPhpDocTypesAsCertain: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    
includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
