#art-template-d74087 {
    padding-bottom: 90px;
    .art-title-section {
        padding: 22px 0 15px 0;
        h2 {
            margin-top: 0;
            margin-bottom: 40px;
        }
        p {
            margin: 0;
        }
    }
}